  .champion-image {
      width: 50px;
      height: 50px;
      border-radius: 35px;
    }

    .drag-area img{
        width: 70px;
      height: 70px;
      border-radius: 35px;
    }

    @font-face {
        font-family: lolfont;
        src: url(BeaufortforLOL-Bold.otf);
    }

    .header-title{
        background-color: rgb(226, 237, 247,0,9);
        text-shadow: rgb(255, 196, 0,0,9);
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-family: lolfont;
        color: rgb(226, 237, 247);
    }

    #role{
        width: 20px;
        height: 20px;
        gap: 20px;
    }

    body{
        background-image: url(background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
    }

    .drag-area {
        width: 100%;
        height: 110px;
        border: 3px solid #493e3e;
        border-radius: 10px;
        margin-bottom: 10px;
        backdrop-filter: blur(2px);

        display: flex; 
        align-items: center;
        gap: 30px;
        margin-top: 10px;
      }